apiVersion: {{ openshift_install_apiversion }}
baseDomain: {{ openshift_base_domain }}
compute:
- name: worker
  platform:
   aws:
     type: {{ openshift_worker_instance_type }}
     rootVolume:
       iops: {{ openshift_worker_root_volume_iops }}
       size: {{ openshift_worker_root_volume_size }}
       type: {{ openshift_worker_root_volume_type }}
  replicas: {{ openshift_worker_count }}
ControlPlane:
  name: master
  platform:
   aws:
     type: {{ openshift_master_instance_type }}
     rootVolume:
       iops: {{ openshift_master_root_volume_iops }}
       size: {{ openshift_master_root_volume_size }}
       type: {{ openshift_master_root_volume_type }}
  replicas: {{ openshift_master_count }}
metadata:
  creationTimestamp: null
  name: {{ openshift_cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ openshift_cidr }}
    hostPrefix: {{ openshift_host_prefix }}
  machineCIDR: {{ openshift_machine_cidr }}
  networkType: {{ openshift_network_type | default(OpenshiftSDN) }}
  serviceNetwork:
  - {{ openshift_service_network }}
platform:
  aws:
    region: {{ aws_region }}
pullSecret: |+
  {{ openshift_install_pull_secret | to_json }}
sshKey: |+
  {{ install_ssh_pub_key.content| b64decode }}
