# Install examples and modify imagestreams.
openshift_install_examples: true
openshift_examples_modify_imagestreams: true

# Disable some checks that are likely to fail (mem>=8GiB).
openshift_disable_check: memory_availability

# Configure usage of openshift_clock role.
openshift_clock_enabled: true

# Enable cluster metrics.
use_cluster_metrics: true

# Allow authentication using an Apache HTTP server authentication file.
openshift_master_identity_providers: [{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
# Defining htpasswd users
openshift_master_htpasswd_users: {'admin': 'admin', 'test': 'test'}

# Configure how often node iptables rules are refreshed.
openshift_node_iptables_sync_period: 30s

# Container Native Storage (CNS).
openshift_storage_glusterfs_wipe: true
openshift_storage_glusterfs_namespace: glusterfs
openshift_storage_glusterfs_is_native: true
openshift_storage_glusterfs_storageclass_default: true
openshift_storage_glusterfs_block_storageclass: true
openshift_storage_glusterfs_block_version: v{{ ocp_major_minor }}
openshift_storage_glusterfs_version: v{{ ocp_major_minor }}
openshift_storage_glusterfs_heketi_version: v{{ ocp_major_minor }}
openshift_storage_glusterfs_s3_version: v{{ ocp_major_minor }}

# Prometheus variables.
openshift_hosted_prometheus_deploy: true
openshift_prometheus_alertbuffer_storage_class: "glusterfs-storage-block"
openshift_prometheus_alertbuffer_storage_type: pvc
openshift_prometheus_alertbuffer_storage_volume_size: 40Gi
openshift_prometheus_alertmanager_storage_class: "glusterfs-storage-block"
openshift_prometheus_alertmanager_storage_type: pvc
openshift_prometheus_alertmanager_storage_volume_size: 40Gi
openshift_prometheus_node_exporter_install: true
openshift_prometheus_state: present
openshift_prometheus_storage_class: "glusterfs-storage-block"
openshift_prometheus_storage_type: pvc
openshift_prometheus_storage_volume_size: 40Gi

# Disable cockpit.
osm_use_cockpit: false

# Configure kubeletArguments on the nodes, such as maximum pods per node.
openshift_node_kubelet_args: { 'pods-per-core': ['0'], 'max-pods': ['510'] }

openshift_deployment_type: openshift-enterprise
osm_cluster_network_cidr: 10.128.0.0/10
openshift_release: v{{ ocp_major_minor }}
oreg_url: {{ registries[0] }}/openshift3/ose-${component}:${version}
openshift_docker_additional_registries: {{ registries|to_json }}
openshift_docker_insecure_registries: {{ registries|to_json }}
openshift_cockpit_deployer_prefix: {{ registries[0] }}/openshift3/
openshift_service_catalog_image_prefix: {{ registries[0] }}/openshift3/ose-
openshift_web_console_prefix: {{ registries[0] }}/openshift3/ose-
cli_docker_additional_registries: {{ registries|to_json }}
cli_docker_insecure_registries: {{ registries|to_json }}
openshift_prometheus_image_prefix: {{ registries[0] }}/openshift3/
openshift_prometheus_image_version: v{{ ocp_major_minor }}
openshift_prometheus_proxy_image_prefix: {{ registries[0] }}/openshift3/
openshift_prometheus_proxy_image_version: v{{ ocp_major_minor }}
openshift_prometheus_alertmanager_image_prefix: {{ registries[0] }}/openshift3/
openshift_prometheus_alertmanager_image_version: v{{ ocp_major_minor }}
openshift_prometheus_alertbuffer_image_prefix: {{ registries[0] }}/openshift3/
openshift_prometheus_alertbuffer_image_version: v{{ ocp_major_minor }}
ansible_service_broker_image_prefix: {{ registries[0] }}/openshift3/ose-
ansible_service_broker_image_tag: v{{ ocp_major_minor }}
template_service_broker_prefix: {{ registries[0] }}/openshift3/ose-
template_service_broker_version: v{{ ocp_major_minor }}
