apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{cluster_name.stdout}}
    machine.openshift.io/cluster-api-machine-role: workload
    machine.openshift.io/cluster-api-machine-type: workload
  name: workload-{{alibaba_region.stdout}}-a
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{cluster_name.stdout}}
      machine.openshift.io/cluster-api-machineset: workload-{{alibaba_region.stdout}}a
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{cluster_name.stdout}}
        machine.openshift.io/cluster-api-machine-role: workload
        machine.openshift.io/cluster-api-machine-type: workload
        machine.openshift.io/cluster-api-machineset: workload-{{alibaba_region.stdout}}a
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/workload: ""
      providerSpec:
        value:
          apiVersion: machine.openshift.io/v1
          credentialsSecret:
            name: alibabacloud-credentials
          imageId: {{worker_machineset_image.stdout}}
          instanceType: {{openshift_workload_node_instance_type}}
          kind: AlibabaCloudMachineProviderConfig
          ramRoleName: {{cluster_name.stdout}}-role-worker
          regionId: {{alibaba_region.stdout}}
          resourceGroup:
            name: {{cluster_name.stdout}}-rg
            type: Name
          securityGroups:
          - tags:
            - Key: kubernetes.io/cluster/{{cluster_name.stdout}}
              Value: owned
            - Key: GISV
              Value: ocp
            - Key: sigs.k8s.io/cloud-provider-alibaba/origin
              Value: ocp
            - Key: Name
              Value: {{cluster_name.stdout}}-sg-worker
            type: Tags
          systemDisk:
            category: cloud_essd
            size: {{openshift_workload_node_volume_size}}
          tag:
          - Key: kubernetes.io/cluster/{{cluster_name.stdout}}
            Value: owned
          - Key: GISV
            Value: ocp
          - Key: sigs.k8s.io/cloud-provider-alibaba/origin
            Value: ocp
          userDataSecret:
            name: worker-user-data
          vSwitch:
            tags:
            - Key: kubernetes.io/cluster/{{cluster_name.stdout}}
              Value: owned
            - Key: GISV
              Value: ocp
            - Key: sigs.k8s.io/cloud-provider-alibaba/origin
              Value: ocp
            - Key: Name
              Value: {{cluster_name.stdout}}-vswitch-{{alibaba_region.stdout}}a
            type: Tags
          vpcId: ""
          zoneId: {{alibaba_region.stdout}}a
        taints:
        - key: node-role.kubernetes.io/workload
          effect: NoSchedule