apiVersion: v1
kind: ConfigMap
data:
  config.yaml: |
    prometheusOperator:
      prometheusConfigReloaderBaseImage: quay.io/coreos/prometheus-config-reloader
      configReloaderBaseImage: quay.io/coreos/configmap-reload
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    prometheusK8s:
{% if thanos_enable %}
      externalLabels:
        openshift_cluster_name: {{ cluster_name.stdout }}
        openshift_network_type: {{ openshift_network_type }}
        openshift_version: {{ ocp_version.stdout }}
        openshift_platform: {{ platform }}
      remoteWrite:
        - url: {{ thanos_receiver_url }}
{% endif %}
      retention: {{openshift_prometheus_retention_period}}
      nodeSelector:
        node-role.kubernetes.io/infra: ""
      volumeClaimTemplate:
        spec:
          storageClassName: {{openshift_prometheus_storage_class}}
          resources:
            requests:
              storage: {{openshift_prometheus_storage_size}}
    alertmanagerMain:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
      volumeClaimTemplate:
        spec:
          storageClassName: {{openshift_alertmanager_storage_class}}
          resources:
            requests:
              storage: {{openshift_alertmanager_storage_size}}
    metricsServer:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    kubeStateMetrics:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
    k8sPrometheusAdapter:
      nodeSelector:
        node-role.kubernetes.io/infra: ""
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
