apiVersion: v1
items:
- apiVersion: machine.openshift.io/v1beta1
  kind: MachineSet
  metadata:
    creationTimestamp: null
    labels:
      {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
      {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machine-role: pbench
      {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machine-type: pbench
    name: {{rhcos_cluster_name.stdout}}-pbench-{{rhcos_region.stdout}}a
    namespace: openshift-machine-api
  spec:
    replicas: 1
    selector:
      matchLabels:
        {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
        {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-pbench-{{rhcos_region.stdout}}a
    template:
      metadata:
        creationTimestamp: null
        labels:
          {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
          {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machine-role: pbench
          {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machine-type: pbench
          {{RHCOS_METADATA_LABEL_PREFIX}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-pbench-{{rhcos_region.stdout}}a
      spec:
        metadata:
          creationTimestamp: null
          labels:
            node-role.kubernetes.io/pbench: ""
        providerSpec:
          value:
            ami:
              id: {{rhcos_ami_id.stdout}}
            apiVersion: awsproviderconfig.openshift.io/v1beta1
            blockDevices:
            - ebs:
                iops: {{RHCOS_PBENCH_NODE_VOLUME_IOPS}}
                volumeSize: {{RHCOS_PBENCH_NODE_VOLUME_SIZE}}
                volumeType: {{RHCOS_PBENCH_NODE_VOLUME_TYPE}}
            deviceIndex: 0
            iamInstanceProfile:
              id: {{rhcos_cluster_name.stdout}}-worker-profile
            instanceType: {{RHCOS_PBENCH_NODE_INSTANCE_TYPE}}
            kind: AWSMachineProviderConfig
            metadata:
              creationTimestamp: null
            placement:
              availabilityZone: {{rhcos_region.stdout}}a
              region: {{rhcos_region.stdout}}
            publicIp: true
            securityGroups:
            - filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-worker-sg
            subnet:
              filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-public-{{rhcos_region.stdout}}a
            tags:
            - name: kubernetes.io/cluster/{{rhcos_cluster_name.stdout}}
              value: owned
            userDataSecret:
              name: worker-user-data
        versions:
          kubelet: ""
  status:
    replicas: 0
kind: List
metadata: {}
