# Install examples and modify imagestreams.
openshift_install_examples: true
openshift_examples_modify_imagestreams: false

# Disable all excluders
openshift_enable_excluders: false

# Disable some checks that are likely to fail (mem>=8GiB).
openshift_disable_check: memory_availability

# Configure usage of openshift_clock role.
openshift_clock_enabled: true

# Enable cluster metrics.
use_cluster_metrics: true

# Enable or disable the service catalog.
openshift_enable_service_catalog: {{ service_catalog_enable }}
# Enable template service broker (requires service catalog to be enabled, above)
template_service_broker_install: {{ template_service_broker_enable }}

# Use the allow all identity provider for conformance tests.
openshift_master_identity_providers: [{'name': 'allow_all', 'login': 'true', 'challenge': 'true', 'kind': 'AllowAllPasswordIdentityProvider'}]

# Set master cluster (public) hostname and default subdomain for exposed routes
openshift_master_cluster_hostname: lb-0.{{ clusterid }}.{{ dns_domain }}
openshift_master_cluster_public_hostname: lb-0.{{ clusterid }}.{{ dns_domain }}
openshift_master_default_subdomain: apps.{{ clusterid }}.{{ dns_domain }}

# Configure how often node iptables rules are refreshed.
openshift_node_iptables_sync_period: 30s

# Container Native Storage (CNS).
openshift_storage_glusterfs_block_image: {{ registries[1] }}/rhgs3/rhgs-gluster-block-prov-rhel7:{{ glusterfs_block_tag }}
openshift_storage_glusterfs_heketi_image: {{ registries[1] }}/rhgs3/rhgs-volmanager-rhel7:{{ glusterfs_heketi_tag}}
openshift_storage_glusterfs_image: {{ registries[1] }}/rhgs3/rhgs-server-rhel7:{{ glusterfs_image_tag }}
openshift_storage_glusterfs_s3_image: {{ registries[1] }}/rhgs3/rhgs-s3-server-rhel7:{{ glusterfs_s3_tag }}

openshift_storage_glusterfs_block_host_vol_size: {{ocp_glusterfs_block_host_vsize}}
openshift_storage_glusterfs_block_storageclass: true
openshift_storage_glusterfs_is_native: true
openshift_storage_glusterfs_namespace: glusterfs
openshift_storage_glusterfs_storageclass_default: true
openshift_storage_glusterfs_wipe: true

# Cluster Monitoring Operator
openshift_monitoring_deploy: true
openshift_cluster_monitoring_operator_install: true

# EFK logging stack variables
openshift_logging_install_logging: true
openshift_logging_es_cluster_size: 3
openshift_logging_es_pvc_dynamic: true
openshift_logging_es_pvc_size: 50Gi
openshift_logging_es_pvc_storage_class_name: "glusterfs-storage-block"
openshift_logging_fluentd_read_from_head: false
openshift_logging_use_mux: false
openshift_logging_curator_nodeselector: {"node-role.kubernetes.io/infra" : "true"}
openshift_logging_kibana_nodeselector: {"node-role.kubernetes.io/infra" : "true"}
openshift_logging_es_nodeselector: {"node-role.kubernetes.io/infra" : "true"}

# Disable cockpit.
osm_use_cockpit: false

# Configure kubeletArguments on the nodes, such as maximum pods per node.
openshift_node_kubelet_args: { 'pods-per-core': ['0'], 'max-pods': ['510'] }

openshift_deployment_type: openshift-enterprise
osm_cluster_network_cidr: 10.128.0.0/10
openshift_release: v{{ ocp_major_minor }}
oreg_url: {{ registries[0] }}/openshift3/ose-${component}:${version}
openshift_docker_additional_registries: {{ registries|to_json }}
openshift_docker_insecure_registries: {{ registries|to_json }}
cli_docker_additional_registries: {{ registries|to_json }}
cli_docker_insecure_registries: {{ registries|to_json }}
