[orchestration]
# The server that contains the kubeconfig and oc command

[all:vars]
ORCHESTRATION_USER=root
GOPATH="/root/.go"
DISABLE_SELINUX=False

# Install vars
OPENSHIFT_INSTALL_USER=core
OPENSHIFT_INSTALL=True
OPENSHIFT_INSTALL_PLATFORM=aws
OPENSHIFT_INSTALL_BASE_DOMAIN=
OPENSHIFT_INSTALL_CLUSTER_NAME=
OPENSHIFT_INSTALL_EMAIL_ADDRESS=
OPENSHIFT_INSTALL_PASSWORD=redhat
OPENSHIFT_INSTALL_MASTER_COUNT=3
OPENSHIFT_INSTALL_WORKER_COUNT=3
OPENSHIFT_INSTALL_MASTER_INSTANCE_FLAVOR=m4.large
OPENSHIFT_INSTALL_WORKER_INSTANCE_FLAVOR=t2.medium
OPENSHIFT_INSTALL_MASTER_ROOT_VOLUME_SIZE=100
OPENSHIFT_INSTALL_MASTER_ROOT_VOLUME_TYPE=io1
OPENSHIFT_INSTALL_MASTER_VOLUME_IOPS=500
OPENSHIFT_INSTALL_WORKER_ROOT_VOLUME_SIZE=100
OPENSHIFT_INSTALL_WORKER_ROOT_VOLUME_TYPE=gp2
OPENSHIFT_INSTALL_WORKER_VOLUME_IOPS=""
OPENSHIFT_INSTALL_SSH_PUB_KEY=
OPENSHIFT_INSTALL_PULL_SECRET=
OPENSHIFT_INSTALL_CIDR=10.128.0.0/14
OPENSHIFT_INSTALL_MACHINE_CIDR=10.0.0.0/16
OPENSHIFT_INSTALL_SERVICE_NETWORK=172.30.0.0/16
OPENSHIFT_INSTALL_HOST_PREFIX=23
OPENSHIFT_INSTALL_VPC_CIDR_BLOCK=
OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE=
OPENSHIFT_INSTALL_LOG_DIR=/root/ocp
## set this to build OpenShift installer from the github releases
OPENSHIFT_INSTALL_USE_GIT_INSTALLER=False
OPENSHIFT_INSTALL_INSTALLER_VERSION=v0.16.1
## The following vars are needed to extract openshift-installer binary from the payload
OPENSHIFT_INSTALL_QUAY_REGISTRY_TOKEN=
OPENSHIFT_INSTALL_IMAGE_REGISTRY=
OPENSHIFT_INSTALL_REGISTRY_TOKEN=
## change this to v1beta1 when using installer version <= v0.11.0, also check the apiversion installer is using before setting this var
OPENSHIFT_INSTALL_APIVERSION=v1beta4

# Ansible vars
ansible_ssh_private_key_file=/root/.ssh/id_rsa_perf
## Don't need to set the python_interpreter for image builds with el7 kernel
ansible_python_interpreter=/usr/libexec/platform-python

# AWS cluster vars
AWS_PROFILE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
OPENSHIFT_INSTALL_AWS_REGION="us-west-2"

# Libvirt cluster vars
OPENSHIFT_IMAGE_URL=
OPENSHIFT_INSTALL_LIBVIRT_URI=
OPENSHIFT_INSTALL_LIBVIRT_IMAGE=

# Cleanup
OPENSHIFT_LIBVIRT_INSTALL_CLEANUP=False
OPENSHIFT_AWS_INSTALL_CLEANUP=False

# Post install
OPENSHIFT_POST_INSTALL=True
POLL_ATTEMPTS=600
RHCOS_TOGGLE_INFRA_NODE=True
RHCOS_TOGGLE_PBENCH_NODE=True
## Either machine.openshift.io or sigs.k8s.io
RHCOS_METADATA_LABEL_PREFIX=machine.openshift.io
RHCOS_INFRA_NODE_INSTANCE_TYPE=m5.large
RHCOS_PBENCH_NODE_INSTANCE_TYPE=m5.large
RHCOS_INFRA_NODE_VOLUME_IOPS=0
RHCOS_INFRA_NODE_VOLUME_SIZE=64
RHCOS_INFRA_NODE_VOLUME_TYPE=gp2
RHCOS_PBENCH_NODE_VOLUME_IOPS=0
RHCOS_PBENCH_NODE_VOLUME_SIZE=64
RHCOS_PBENCH_NODE_VOLUME_TYPE=gp2
PROMETHEUS_RETENTION_PERIOD=15d
PROMETHEUS_STORAGE_SIZE=20Gi
ALERTMANAGER_STORAGE_SIZE=10Gi

# openshift tooling
OPENSHIFT_TOOLING=True
