Host ip*
   StrictHostKeyChecking no
   ProxyCommand ssh -W %h:%p {{ workload_public_ip.stdout }}
   UserKnownHostsFile=/dev/null
   User core

Host *
   UserKnownHostsFile=/dev/null
   StrictHostKeyChecking no
   User core
