apiVersion: v1
items:
- apiVersion: machine.openshift.io/v1beta1
  kind: MachineSet
  metadata:
    creationTimestamp: null
    labels:
      {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
    name: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}a
    namespace: openshift-machine-api
  spec:
    replicas: 1
    selector:
      matchLabels:
        {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
        {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}a
    template:
      metadata:
        creationTimestamp: null
        labels:
          {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}a
      spec:
        metadata:
          creationTimestamp: null
          labels:
            node-role.kubernetes.io/infra: ""
        providerSpec:
          value:
            ami:
              id: {{rhcos_ami_id.stdout}}
            apiVersion: awsproviderconfig.openshift.io/v1beta1
            blockDevices:
            - ebs:
                iops: {{rhcos_infra_node_volume_iops}}
                volumeSize: {{rhcos_infra_node_volume_size}}
                volumeType: {{rhcos_infra_node_volume_type}}
            deviceIndex: 0
            iamInstanceProfile:
              id: {{rhcos_cluster_name.stdout}}-worker-profile
            instanceType: {{rhcos_infra_node_instance_type}}
            kind: AWSMachineProviderConfig
            metadata:
              creationTimestamp: null
            placement:
              availabilityZone: {{rhcos_region.stdout}}a
              region: {{rhcos_region.stdout}}
            publicIp: false
            securityGroups:
            - filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-worker-sg
            subnet:
              filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-private-{{rhcos_region.stdout}}a
            tags:
            - name: kubernetes.io/cluster/{{rhcos_cluster_name.stdout}}
              value: owned
            userDataSecret:
              name: worker-user-data
        versions:
          kubelet: ""
  status:
    replicas: 0
- apiVersion: machine.openshift.io/v1beta1
  kind: MachineSet
  metadata:
    creationTimestamp: null
    labels:
      {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
    name: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}b
    namespace: openshift-machine-api
  spec:
    replicas: 1
    selector:
      matchLabels:
        {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
        {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}b
    template:
      metadata:
        creationTimestamp: null
        labels:
          {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}b
      spec:
        metadata:
          creationTimestamp: null
          labels:
            node-role.kubernetes.io/infra: ""
        providerSpec:
          value:
            ami:
              id: {{rhcos_ami_id.stdout}}
            apiVersion: awsproviderconfig.openshift.io/v1beta1
            blockDevices:
            - ebs:
                iops: {{rhcos_infra_node_volume_iops}}
                volumeSize: {{rhcos_infra_node_volume_size}}
                volumeType: {{rhcos_infra_node_volume_type}}
            deviceIndex: 0
            iamInstanceProfile:
              id: {{rhcos_cluster_name.stdout}}-worker-profile
            instanceType: {{rhcos_infra_node_instance_type}}
            kind: AWSMachineProviderConfig
            metadata:
              creationTimestamp: null
            placement:
              availabilityZone: {{rhcos_region.stdout}}b
              region: {{rhcos_region.stdout}}
            publicIp: false
            securityGroups:
            - filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-worker-sg
            subnet:
              filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-private-{{rhcos_region.stdout}}b
            tags:
            - name: kubernetes.io/cluster/{{rhcos_cluster_name.stdout}}
              value: owned
            userDataSecret:
              name: worker-user-data
        versions:
          kubelet: ""
  status:
    replicas: 0
- apiVersion: machine.openshift.io/v1beta1
  kind: MachineSet
  metadata:
    creationTimestamp: null
    labels:
      {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
      {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
    name: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}c
    namespace: openshift-machine-api
  spec:
    replicas: 1
    selector:
      matchLabels:
        {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
        {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}c
    template:
      metadata:
        creationTimestamp: null
        labels:
          {{rhcos_metadata_label_prefix}}/cluster-api-cluster: {{rhcos_cluster_name.stdout}}
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-role: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machine-type: infra
          {{rhcos_metadata_label_prefix}}/cluster-api-machineset: {{rhcos_cluster_name.stdout}}-infra-{{rhcos_region.stdout}}c
      spec:
        metadata:
          creationTimestamp: null
          labels:
            node-role.kubernetes.io/infra: ""
        providerSpec:
          value:
            ami:
              id: {{rhcos_ami_id.stdout}}
            apiVersion: awsproviderconfig.openshift.io/v1beta1
            blockDevices:
            - ebs:
                iops: {{rhcos_infra_node_volume_iops}}
                volumeSize: {{rhcos_infra_node_volume_size}}
                volumeType: {{rhcos_infra_node_volume_type}}
            deviceIndex: 0
            iamInstanceProfile:
              id: {{rhcos_cluster_name.stdout}}-worker-profile
            instanceType: {{rhcos_infra_node_instance_type}}
            kind: AWSMachineProviderConfig
            metadata:
              creationTimestamp: null
            placement:
              availabilityZone: {{rhcos_region.stdout}}c
              region: {{rhcos_region.stdout}}
            publicIp: false
            securityGroups:
            - filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-worker-sg
            subnet:
              filters:
              - name: tag:Name
                values:
                - {{rhcos_cluster_name.stdout}}-private-{{rhcos_region.stdout}}c
            tags:
            - name: kubernetes.io/cluster/{{rhcos_cluster_name.stdout}}
              value: owned
            userDataSecret:
              name: worker-user-data
        versions:
          kubelet: ""
  status:
    replicas: 0
kind: List
metadata: {}
