apiVersion: {{ OPENSHIFT_INSTALL_APIVERSION }}
baseDomain: {{ OPENSHIFT_INSTALL_BASE_DOMAIN }}
compute:
- name: worker
  platform:
   aws:
     type: {{ OPENSHIFT_INSTALL_WORKER_INSTANCE_FLAVOR }}
     rootVolume:
       iops: {{ OPENSHIFT_INSTALL_WORKER_VOLUME_IOPS }}
       size: {{ OPENSHIFT_INSTALL_WORKER_ROOT_VOLUME_SIZE }}
       type: {{ OPENSHIFT_INSTALL_WORKER_ROOT_VOLUME_TYPE }}
  replicas: {{ OPENSHIFT_INSTALL_WORKER_COUNT }} 
ControlPlane:
  name: master
  platform:
   aws:
     type: {{ OPENSHIFT_INSTALL_MASTER_INSTANCE_FLAVOR }}
     rootVolume:
       iops: {{ OPENSHIFT_INSTALL_MASTER_VOLUME_IOPS }}
       size: {{ OPENSHIFT_INSTALL_MASTER_ROOT_VOLUME_SIZE }}
       type: {{ OPENSHIFT_INSTALL_MASTER_ROOT_VOLUME_TYPE }}
  replicas: {{ OPENSHIFT_INSTALL_MASTER_COUNT }}
metadata:
  creationTimestamp: null
  name: {{ OPENSHIFT_INSTALL_CLUSTER_NAME }} 
networking:
  clusterNetwork:
  - cidr: {{ OPENSHIFT_INSTALL_CIDR }}
    hostPrefix: {{ OPENSHIFT_INSTALL_HOST_PREFIX }}
  machineCIDR: {{ OPENSHIFT_INSTALL_MACHINE_CIDR }}
  networkType: OpenshiftSDN
  serviceNetwork:
  - {{ OPENSHIFT_INSTALL_SERVICE_NETWORK }}
platform:
  aws:
    region: {{ OPENSHIFT_INSTALL_AWS_REGION }}
pullSecret: |+
  {{ OPENSHIFT_INSTALL_PULL_SECRET }}
sshKey: |+
  {{ OPENSHIFT_INSTALL_SSH_PUB_KEY }}
