{
	"auths": {
		"quay.io": {
			"auth": "{{ OPENSHIFT_INSTALL_QUAY_REGISTRY_TOKEN }}"
		},
                "{{ OPENSHIFT_INSTALL_IMAGE_REGISTRY }}": {
			"auth": "{{ OPENSHIFT_INSTALL_REGISTRY_TOKEN }}"
		}
	}
}
