[default]                          # Default client
type = access_key                  # Certification type: access_key
access_key_id = {{ aliyun_access_key_id }}                # Key 
access_key_secret = {{ aliyun_access_key_secret }}            # Secret