apiVersion: {{ openshift_install_apiversion }}
baseDomain: {{ openshift_base_domain }}
compute:
- name: worker
  architecture: amd64
  hyperthreading: Enabled
  platform:
   alibabacloud:
    instanceType: {{ openshift_worker_instance_type }}
    systemDiskCategory: {{ openshift_worker_root_volume_type }}
    systemDiskSize: {{ openshift_worker_root_volume_size }}
  replicas: {{ openshift_worker_count }}
ControlPlane:
 name: master
 architecture: amd64
 hyperthreading: Enabled
 platform:
  alibabacloud:
   instanceType: {{ openshift_master_instance_type }}
   systemDiskCategory: {{ openshift_master_root_volume_type }}
   systemDiskSize: {{ openshift_master_root_volume_size }}
 replicas: {{ openshift_master_count }}
metadata:
 creationTimestamp: null
 name: {{ openshift_cluster_name }}
networking:
 clusterNetwork:
 - cidr: {{ openshift_cidr }}
   hostPrefix: {{ openshift_host_prefix }}
 machineNetwork:
 - cidr: {{ openshift_machine_cidr }}
 networkType: {{ openshift_network_type }}
 serviceNetwork:
 - {{ openshift_service_network }}
fips: {{ fips }}
platform:
 alibabacloud:
  region: {{ alibaba_region }}
publish: External
pullSecret: |+
  {{ openshift_install_pull_secret | to_json }}
sshKey: |+
  {{ install_ssh_pub_key.content| b64decode }}