{
    "clientId": "{{azure_service_principal_client_id}}",
    "clientSecret": "{{azure_service_principal_client_secret}}",
    "subscriptionId": "{{azure_subscription_id}}",
    "tenantId": "{{azure_tenant_id}}"
}
